
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

// Variables
@import 'variables';

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
body {
  font-size: 1.6em;
}
*/

.navbar {
    margin-bottom: 0;
    min-height: 60px;

    .navbar-nav > li > a {
        line-height: 2.4;
        font-size: 1.26em;
    }

    #logo {
        position: relative;
        margin-top: -15px;
    }

    .btn-account {
        padding: 14px 3px;
    }
}

#street {
    width: 100%;
    min-height: 40vh;
    background: linear-gradient(37deg, rgba(176,255,202,1) 0%, rgba(0,128,128,1) 100%);
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;


    .title {
        color: #fff;
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
        width: 60%;
        margin: 0 auto;
        text-shadow: 2px 2px 2px rgba(150, 150, 85, 0.5);
        text-transform: uppercase;
    }

    .btn-inverted {
        margin-top: 30px;
        border-radius: 30px;
        padding: 15px 50px;
        border: 1px solid #fff;
        z-index: 1;
        background: rgba(#fff, 0.1);
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-align: center;
        width: 250px;
        transition: 0.4s ease all;

        &:hover {
            transition: 0.4s ease all;
            background: rgba(#fff, 0.2);
        }
    }
}

#how-it-works {
    background: #fff;
    padding: 80px 0;

    #network {

    }
}

#services {
    background: #f5f8fa;
    padding: 80px 0;

    .service {
        text-align: justify;
        text-align-last: center;

        .title {
            font-weight: bold;
        }

        .icon {
            margin: 10px 0 20px 0;
        }
    }
}

#curve {
    width: 100%;
    height: 60vh;
    background: url('../images/curve.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    color: #fff;

    .title {
        text-shadow: 2px 2px 2px rgba(150, 150, 85, 0.5);
    }
}

#stats {
    background: #fff;
    padding: 80px 0;

    .title {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .stat {
        color: $brand-primary;
        font-size: 2rem;
        text-align: center;
    }
}

strong {
    font-weight: lighter;
}

#footer {
    background: #242424;
    //    position: absolute;
    color: #fff;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    margin-top: 20px;

    a {
        color: #ddd;
        font-size: 13px;
    }

    .copyright {
        border-top: 1px solid #3b3a3a;
        padding-top: 20px;
        margin-top: 20px;
        font-size: 12px;
    }
}

.arrow-up {
    position: relative;
    margin-left: 6px;
    color: $brand-success;

    &:after {
        content: '\2197';
        position: absolute;
    }
}

.arrow-down {
    position: relative;
    margin-left: 6px;
    color: $brand-danger;

    &:after {
        content: '\2198';
        position: absolute;
    }
}

.data {
    .data-row {
        display: flex;
        min-height: 30px;

        .data-key {
            min-width: 100px;
            font-weight: bold;
        }
    }
}

// PROFIL

#sidebar {
    min-height: 67vh;
    margin-bottom: -2rem;
    background: #fff;
    padding: 0;
    border: 1px solid rgba(#000, 0.1);

    ul {
        padding: 0;

        li {
            list-style-type: none;

            a {
                display: block;
                width: 100%;
                font-size: 1.8rem;
                padding: 1rem;
                color: #636b6f;
                
                &:hover {
                    text-decoration: none;
                    background: #636b6f;
                    color: #fff;
                }
            }
        }
    }
}

#main-profil {
    .breadcrumb {
        background: #fff;
        border: 1px solid rgba(#000, 0.1)
    }
}